{
  "token": "YOUR_BOT_TOKEN",
  "prefix": "n!",
  "ksoftapi": "",
  
  
  "clientsettings": {
    "nodes": [
      {
         "host": "localhost",
         "port": 80,
         "password": "lol",
         "retryAmount": 10,
         "retryDelay": 5000,
         "maximumRetries": 100,
         "secure": false
       }
     ]
  },

  "spotify": {
    "clientSecret": "SPOTIFY_SECRET",
    "clientID": "SPOTIFY_CLIENT_ID"
  }

}
